@import "tailwindcss";

:root {
  --bg-primary: #020617; /* Slate 950 */
  --text-primary: #f8fafc;
}

[data-theme='light'] {
  --bg-primary: #ffffff;
  --text-primary: #0f172a;
}

@layer base {
  body {
    @apply bg-[var(--bg-primary)] text-[var(--color-text-primary)];
  }
}
