@import "tailwindcss";

@theme {
  /* Переменные для использования в классах типа text-(--text-primary) */
  --color-brand: var(--color-blue-500);
}

/* Настройки темы в чистом CSS */
:root {
  --bg-primary: #020617; /* Slate 950 */
  --text-primary: #f8fafc; /* Slate 50 */
  --border-color: #1e293b; /* Slate 800 */
}

[data-theme='light'] {
  --bg-primary: #ffffff;
  --text-primary: #0f172a; /* Slate 900 */
  --border-color: #e2e8f0; /* Slate 200 */
}

@layer base {
  body {
    /* Привязываем переменные к телу страницы */
    background-color: var(--bg-primary);
    color: var(--text-primary);
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: ui-sans-serif, system-ui, -apple-system, sans-serif;
  }

  /* Глобальный стиль для бордеров, чтобы они тоже менялись */
  div, section, nav, header, form {
    border-color: var(--border-color);
  }
}
